/* Contact Form Section */
.contact-page h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-page p {
  font-size: 1.25rem;
}

.contact-info h4 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Callback Widget Section */
.callback-widget-section h2 {
  font-size: 2.5rem;
}

.callback-widget-section p {
  font-size: 1.25rem;
}


@media (max-width: 768px) {
  .contact-page h2 {
    font-size: 2rem;
  }

  .contact-page p {
    font-size: 1rem;
  }

  .contact-info h4 {
    font-size: 1.25rem;
  }
}
